.timers {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.single-timer {
    display: flex;
    gap: 100px;
    align-items: baseline;
    justify-content: center;
    border: 1px black solid;
    padding: 20px 0px;
    margin: 20px;
    width: 50%;
}

.timers p {
    font-size: 20px;
}

.timers button {
    height: 20px;
}